.AddCategory > .container {
	max-width: 720px;
}

.SeeAllCategory > .card, .AddCategory > .card {
	padding: 30px;
}

.SeeAllCategory h5 {
	margin-bottom: 20px !important;
}
.SeeAllCategory {
	margin-bottom: 50px !important;
}

.category-submit-sucess {
	width: max-content;
}

.ListCategoryLine {
	padding: 10px;
}
.category-container {
	max-height: 500px;
	overflow: scroll;
	background-color: whitesmoke;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
}
.search-Category::-webkit-input-placeholder {
  font-size: 15px;
}
.search-Category {
	border: solid 1px #0000001f;
	padding: 7px 11px 7px;
	font-size: 17px;
}

@media screen and (max-width: 991px) {
	.AddCategory {
		max-width: 90%;
		margin: auto;
	}
	.input-title-search-category-add {
		display: block !important;
	}
	.container-input-search-category-add {
		text-align: left !important;
		margin-top: 10px;
	}
	.category-name-add {
		align-self: center;
	}
}