h1, h2, h3, h4, h5, h6 {
  margin: 0;
  /*Fui eu que modifiquei*/
}
.PrimaryCarousel {
  position: relative;
}

.carouselStore {
  display: -webkit-box;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  padding-right: 20px;
  scroll-behavior: smooth;
}
.PrimaryCarousel:hover .prev-carousel {
  opacity: 1;
  left: -0.8%;
}
.PrimaryCarousel:hover .next-carousel {
  opacity: 1;
  left: 101%;
}
.carouselStore::-webkit-scrollbar {
  display: none;
}
.endCarousel {
  padding-left: .5rem;
  margin: 0;
  box-sizing: border-box;
}

.mov-carousel {
  display: none;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  line-height: 50px;
  z-index: 80;
  box-shadow: 0 0 5px black;
  border: none;
  transition: all 0.5s ease;
}


@media screen and (min-width: 991px) {
  .mov-carousel {
    display: block;
  }
  .next-carousel {
    left: 100%;
    top: 50%;
    opacity: 0;
    transform: translate(-100%, -50%);
  }

  .prev-carousel {
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    left: 0;
  }

}

@media screen and (max-width: 990px) {
  .PrimaryCarousel {
    padding-right: 0;
    padding-left: 0;
  }
  .mov-carousel {
    display: block
  }
  .next-carousel {
    left: 103%;
    top: 50%;
    opacity: 1;
    transform: translate(-100%, -50%);
  }

  .prev-carousel {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    left: -3%;
  }
}
@media screen and (max-width: 600px) {
  .mov-carousel {
    display: none;
  }
}
