.favorite-page > * {
	font-family: "Rubik", sans-serif;
}
.favorite-page {
	background-color: white;
}
.search-content-container {
	background-color: white;
	max-height: 130vh;
    overflow: scroll;
    margin-right: 3px;
}
.LeftSearch-favorite {
	box-shadow: 0px 0px 10px black;
	padding: 0 !important;
	z-index: 1;
	background-color: white;	
	width: 500px !important;
	height: 100vh;
	border-radius: 10px;
	margin-top: -80px;
	transition: all 0.5s;
}

.card-line-content {
	padding: 20px;
}
.mini-title-products {
	color: #373f50;
	font-weight: 700;
	font-size: 1.1rem;
}
.mini-price-products {
	color: #4e54c8;
	font-weight: 600;
	margin-top: 10px;
}
.remove-container {
	width: 350px;
	text-align: right;
	padding: 20px;
}
.btn-remove-favorite > div{
	float: left;
}
.remove-favorite-icon {
	font-size: 1.2em;
}
.remove-favorite-txt {
	font-size: 0.8em;
}
/*   Cards     */



.option-category-favorite {
	color: #7d879c !important;
}
.result-category-favorite {
	color: #4b566b;
}


.favorite-perfil-photo {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-position: center;
	background-size: cover;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
}

.border-on-image-profile-favorite {
	border: 1px solid #6A6D70;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: relative;
}
.changePhoto-client {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
	text-align: center;
	color: white;
	border-radius: 110px;
	background-color: #00000096;
	transition: all 0.2s;
	opacity: 0;
	cursor: pointer;
}
.changePhoto-client:hover {
	opacity: 1;
}
.changePhoto-client > div {
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}
.header-top-favorite {
	padding: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.informations-favorite-page {
	padding-left: 10px;
}
.favorite-name {
	width: max-content;
}
.favorite-email {
	font-size: 0.8em;
	color: #4e54c8;
}
.width-max-content {
	width: max-content;
}
.categorie-of-favorite-product > a {
	font-size: 0.8rem;
}
/*  Alternatives  */

.fixed-alternative {
	background-color: ghostwhite;
	padding: 10px;
	padding-left: 15px;

}
.normal-alternative {
	padding: 10px;
	padding-left: 15px;
}
.icon-normal-alternative {
	float: left;
	font-weight: 400 !important;
	color: #868686;
}
.title-norma-alternative {
	line-height: 30px;
	padding-left: 30px;
}

.active-here {
	color: #4e54c8;
}

.normal-alternative {
	cursor: pointer;
}
.container-btn-save-or-remove-image {
	padding: 20px;
	padding-top: 0px;
}


/* ===============| Responsive |=============== */


@media screen and (max-width: 991px) {
	.LeftSearch-favorite {
		margin: 0 !important;
		left: -110%;
	  	width: 90% !important;
	  	border-radius: 0;
	  	height: 100vh;
	  	position: absolute;
	  	top: 0;
	  	z-index: 1999;
	}
	.menu-dashboard-client {
		display: none;
	}
	.hangePhoto-client {
		opacity: 1;
	}
	.card-line {
		display: block !important;
		border-bottom: 1px solid gray;
	} 
	.card-line-content {
		padding: 0;
	}
	.favorite-content {
		margin: 1.5rem !important;
	}
	.remove-container {
		padding: 0 20px 20px 0;
	}
}