.preview-cart-container {
    width: 350px;
}
.preview-allproducts {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}
.preview-allproducts::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.preview-allproducts::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
.preview-allproducts::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
.preview-product {
    display: flex;
    border-bottom: solid 1px rgba(92, 92, 92, 0.281);
    margin-bottom: 7px;
    padding: 7px;
}
.preview-product img {
    width: 100%;
}
.preview-image-container {
    width: 20%;
}
.preview-footer-content {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 5px;
}
.preview-expand-cart {
    border: solid 1px rgba(128, 128, 128, 0.541);
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.href-hover:hover {
    color: blue !important;
}

.preview-expand-cart:hover i {
    transition: all 0.1s linear;
    position: relative;
    right: -5px;
}
