/*text color #aeb2b7*/
/*active color #28282e*/
.admin-menu-left {
  background-color: #32323a;
  height: 100vh;
  width: 25vw;
  display: flex;
  margin-left: -21vw;
  transition: all 0.3s ease;
  display: inline-flex;
}
.menu-admin {
  list-style-type: none;
  padding: 0;
  flex: auto;
}
.toggle-admin-menu {
  background-color: #28282e;
  padding: 1.5%;
  color: white;
  width: 4vw;
  text-align: center;
}
.admin-menu-alternative {
  border-bottom: solid 1px #46464E;
  padding: 0.75em;
  color: #aeb2b7;
}
.admin-menu-alternative:hover {
  background-color: #28282e;
}
.admin-icon-close {
  font-size: 1.4em;
  color: white !important;
}
.admin-icon-close:focus {
  border: 0;
  box-shadow: 0 0 0 0 transparent;
}
.admin-content-dashboard {
  display: inline-flex;
  vertical-align: top;
  width: 96vw;
  height: 100vh;
  border:  solid 1px red;
  transition: all 0.3s ease;
  margin-bottom: 50px;
  overflow: scroll;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=| Responsive |=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@media screen and (max-width: 991px) {
  .admin-menu-left {
    height: auto;
    width: auto; 
    display: block;
    margin-left: 0;
  }
  .toggle-admin-menu {
    display: none;
  }
  .admin-content-dashboard {
    width: 100vw;
  }
}