/*

#467E84
#08bbb7
#212529

*/

header > nav {
  box-sizing: border-box;
  color: #212529;
}
.navbar-brand {
  padding-top: 0;
}
.form-search {
  margin: auto;
  width: 100%;
}
.input-search {
  margin-right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}
.input-search::-webkit-input-placeholder {
    color: #00000061;
}

.submit-search {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  border-color: #ced4da;
  background-color: white;
  color: #212529;
  line-height: 15px;
}
.submit-search:hover {
  background-color: transparent;
  border-color: #ced4da;
  border-left: none;
  color: #212529;

}

.navbar-secondary {
  display: none;
  z-index: 130;
}
.item-page-favorites {
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}
.login-small {
  font-size: 0.7em;
}
.my-account {
  width: 100px;
}

.icon-cart {
  font-size: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10px;
}
.icon-favorite-href {
  position: relative;
  top: 60%;
  transform: translateY(-50%);
}
.menuBar-desktop {
  display: none;
  cursor: pointer;
}
abbr[title] {
  cursor: pointer !important;
  text-decoration: none !important;
}
/*
*
* Secondary navBar
*
*/
.dropdown:hover>.active-hover {
  display: block;
}

.category {
  padding-right: 30px;
  border-right: 1px solid rgba(9, 9, 9, 0.4);
}

.color-hover:hover {
  color: #046bc9 !important;
}





/*
*
* Configurações para Desktop
*
*/

@media screen and (min-width: 991px) {
  .primary-navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-secondary {
    display: flex;
  }
  .menuBar-desktop {
    display: none;
    margin-left: 20px;
  }
  .item-page-favorites {
    display: list-item;
  }
  .icon-user {
    font-size: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
  }
  .item-mobile {
    display: none !important;
  }
  .menu-dashboard-client-header {
    display: none;
  }
}
.header-amountLikes {
  background-color: red;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 0.8em;
  font-weight: 600;
  margin-left: -10px;
  text-align: center;
  margin-top: -7px;
}



/*
*
* Configurações para Mobile
*
*/

@media screen and (max-width: 990px) {
  .icon-user {
    line-height: unset;
    font-size: 30px;
    padding-right: 30px;
  }
  .menu-mobile {
    line-height: unset;
    font-size: 30px;
    margin-right: 20px;
  }
  .cart-mobile {
    font-size: 27px;
    line-height: 40px;
  }
  .cart-href {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    margin-right: 10px;
  }
  .quant-cart {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    color: white;
    line-height: 22px;
    left: -15px;
    font-size: 0.8em;
    font-weight: bold;
  }
  .item-desktop {
    display: none;
  }
  .form-search {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .options-menu-mobile {
    background-color: #f0f5fa;
    margin: 5px;
    margin-left: 0;
  }
  .dropdown-mobile-details {
    margin-left: -10px;
  }
}

/*
* All classes
*/
.no-href-decoration {
  text-decoration: none !important;
  color: inherit !important;
}
.toYourProfile {
  text-decoration: none;
  color: black;
}
.toYourProfile:hover {
  color: rgba(0, 0, 0, 0.7);
}

.width-bigger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.height-bigger {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.header-profile-img {
  border-radius: 50%;
}