label {
  display: block;
}


input:focus, textarea:focus {
  box-shadow: 0 0 0 0 transparent !important;
  border-color:  gray !important;
}
.obs {
  font-size: 0.8em;
}

.newProduct {
  background-color: white;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 991px) {
  .newProduct {
    width: 100%;
  }
  .validation-form {
    display: block !important;
  }
}

.form-controler {
  height: 70%;
}
.container-categories-addProducts {
  max-height: 200px;
  overflow: scroll;
}