.primaryCard {
  position: relative;
  height: 360px;
  width: 200px;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
}
.primaryCard:hover {
  box-shadow: 0px 0px 10px #00000059;
}
.primaryCard:hover .product-alerts {
  margin-left: 0px;
  opacity: 1;
}
.primaryCard:hover .product-add-card {
  top: 100%;
}
.secondayCard {
  height: 100%;
  width: 100%;
  background-color: white;
}
.product-image {
  height: 50%;
  width: 100%;
  position: relative;
}
.product-cover {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}
.heartLike {
  position: absolute;
  z-index: 3;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 45px;
  background-color: #00000029;
  left: 98%;
  top: 1%;
  transform: translateX(-100%);
  border-radius: 50%;
  color: red;
}
.product-alerts {
  margin-left: -50px;
  position: relative;
  transition: 0.3s;
  opacity: 0;
  z-index: 2;
}
.product-new {
  position: absolute;
  background-color: green;
  z-index: 1;
  color: white;
  font-size: 0.7rem;
  border-radius: 7px;
  padding: 3px 4px 3px 4px;
  margin: 8px;
}

.product-promotion {
  position: absolute;
  background-color: gold;
  z-index: 1;
  color: white;
  font-size: 0.7rem;
  border-radius: 7px;
  padding: 3px 4px 3px 4px;
  margin: 8px;
  left: 40px;
}
.product-content {
  padding: 7px;
}
.product-title {
  height: 47.6px;
}
.product-price {
  font-size: 1.8rem;
}

.product-stars > span > * {
  font-size: 0.9rem;
  color: gold;
}
.product-amount-rating {
  font-size: 0.8rem;
  margin-left: 6px;
  top: -2px;
  position: relative;
}
.product-add-card {
  background-color: blue;
  color: white;
  position: absolute;
  top: 110%;
  transform: translateY(-100%);
  width: 100%;
  transition: all 0.2s;
  text-align: center;
  font-size: 0.8rem;
  padding: 5px;
}
