/*|=======================||  Page Search  ||=========================|*/

.border-solid {
  border: solid 1px red;
}
.TopFilter {
  background-color: #373f50;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  padding-left: 4%;
}
.error_msgSearch {
  color: red;
  font-size: 0.7em;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
.see-filter-mobile {
  display: none;
  font-size: 1.1em;
}
.close-menu-filter-search {
  display: none;
}
@media screen and (max-width:  991px) {
  .desktop {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .mobile {
    display: none !important;
  }
}

/* ============| Left Filters */
  .LeftSearch {
    margin-top: -80px;
    background-color: white;
    width: 400px;
    height: 100vh;
    margin-left: 4%;
    border-radius: 10px;
    padding: 25px;
  }
  .iconsNavigate {
    font-size: 0.8em;
  }
  .iconNavigateSearch {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.6);
  }

/* ============| Left Filters */

/* ============| Left Result Search */
  .ResultProducts {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: min-content;
    margin: auto;
    row-gap: 10px;
    margin-bottom: 100px !important;
  }
  .noResult {
    width: 600px;
  }
  .searchContentResult {

  }
  .FilterTop {
    margin-top: -80px;
    margin-bottom: 100px;
    margin-left: 5%;

  }
  .optionsFilter {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
  }
  .backPageSearch, .nextPageSearch {
    line-height: 1.5em;
    color: rgba(255, 255, 255, 0.6);
  }
  .pageSearchIndex {
    line-height: 2.5em;
    color: white;
  }

  .backPageSearch:hover, .nextPageSearch:hover {
    color: white;
    cursor: pointer;
  }

/* ============| Left Result Search */


/*====================| Responsive Search Page |===================*/

  @media screen and (max-width: 1124px) {
    .LeftSearch {
      position: fixed;
      z-index: 101;
      width: 100%;
      margin-left: -100%;
      height: 100vh;
      margin-top: -261px;
      transition: all 0.5s;
      overflow: auto;
    }
    .open-menu-filter-search {
      margin-left: 0;
      width: 100%;
      padding-left: 20%;
      margin-left: -15%;
    }
    .close-menu-filter-search {
      display: block;
    }
  }

  @media screen and (max-width:  991px) {
    .see-filter-mobile {
      display: block;
    }
    .FilterTop {
      margin-bottom: 50px;
    }
    .ResultProducts {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 7px;
      row-gap: 27px;
    }
    .ResultProducts  {
      margin: 0;
      width: auto;
    }
    .ResultProducts > .PrimaryCard {
      width: 100%;
      margin: 0 !important;
    }

    .ContentSearch > .container {
      padding: 0;
      margin: 0;
    }
    .container-fluid {
      padding-right: 0 !important;
    }
    .header-page-search {
      display: block !important;
      margin-top: 10px !important;
    }
    .iconsNavigate {
      margin-bottom: 10px;
    }
    .details-quant-search {
      display: none;
    }
    .monitor-pages-search {
      padding-left: 10px !important;
      width: 100%;
    }
    .searchContentResult {
      margin: auto !important;
    }
  }
  @media screen and (max-width: 800px) {
    .ResultProducts {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .ContentSearch > .container {
      max-width: none;
    }
  }

  @media screen and (max-width: 550px) {
    .ResultProducts {
      grid-template-columns: 1fr 1fr;
    }
  }



/*====================| Responsive Search Page |===================*/


/*|=======================||  Page Search  ||=========================|*/
